<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="proxy" type="ReverseProxy.ProxyConfigurationSection, ReverseProxy"/>
  </configSections>
  <proxy>
    <translations>
      <add request="/addr1" destination="http://" headers="Content-Type,Content-Length"/>
      <add request="/addr2" destination="http://" headers="Content-Type,Content-Length"/>
    </translations>
  </proxy>
	<system.web>
		<httpHandlers>
      <add verb="GET,POST" path="addr1" type="ReverseProxy.ReverseProxyHandler"/>
      <add verb="GET,POST" path="addr2" type="ReverseProxy.ReverseProxyHandler"/>
		</httpHandlers>
		<compilation debug="true"/>
  </system.web>
</configuration>
