<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="proxy" type="ReverseProxy.ProxyConfigurationSection, ReverseProxy"/>
  </configSections>
  <!--
    Explanation:
      When you call to the url http://localhost/<handler>/<rest/parameters> it will resolve the request 
      asking to the <http://destination><rest/parameters>
      
    Sample Configurations:
    
      <proxy>
        <translations>
          <add request="/<handler>" destination="<http://destination>" headers="Content-Type,Content-Length"/>
          <add request="/<handler>" destination="<http://destination>" headers="Content-Type,Content-Length"/>
        </translations>
      </proxy>
      <system.web>
		    <httpHandlers>
          <add verb="GET,POST" path="<handler>*" type="ReverseProxy.ReverseProxyHandler"/>
		    </httpHandlers>
      </system.web>
  -->
</configuration>
